#mainwrapper {
    width: 900px;
    margin: 10px auto;
    align-content: center;
}

header, main, #taskcontainer, #tasks, .item {
    border: 1px solid rgb(0, 0, 0);
}

header {
    padding: 10px;
}

header, header div {
    text-align: center;
}

main {
    width: 900px;
    height: 750px;
    margin-top: 30px;
    padding: 15px 50px;
    display: flex;
}

#taskcontainer {
padding: 5px;
text-align: center;
}

#addtask {
    width: 478px;
    margin-bottom: 5px;
}

#tasks {
    visibility: hidden;
}

.task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px 10px;
    margin: 10px;
}

.close {
    width: 20px;
    height: 20x;
    border: 2px solid crimson;
    border-radius: 50%;
    margin-left: auto;
}
.close::before{
    content: 'X';
    color: crimson;
    position: relative;
    left: 0px;
}

.close:hover, .close:hover:before{
    border-color:red;
    color: red;
}

#countries, #countriesinput{
    width: 280px;
    margin: 0px auto;
}

.item {
    width: 285px;
    border-top: none;
}

.item:hover {
    background-color: rgb(189, 189, 189);
}